/* --- Responsive (Mobile) --- */
@media (max-width: 768px) {
  /* Nav */
  #menu {
    display: none;
  }

  .nav__btn {
    display: none;
  }

  .menu__icon {
    display: block;
    font-size: 22px;
    color: black;
    border: 2px solid black;
    padding: 2px 8px;
    border-radius: 4px;
    box-shadow: 3px 3px #000;
    font-weight: bold;
  }

  /* Hero */
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero__content {
    width: 90%;
  }

  .hero__image {
    width: 90%;
  }

  .hero__heading {
    font-size: 54px;
  }

  .hero__desc {
    font-size: 18px;
  }

  .hero__btns {
    margin-bottom: 40px;
  }

  .hero__btn {
    font-size: 15px;
    line-height: 1.2;
    margin-right: 10px;
  }

  /* Latest Articles */

  .articles {
    width: 90%;
  }

  .articles__other {
    width: 90%;
  }

  .articles__heading {
    font-size: 36px;
    white-space: nowrap;
  }

  .articles__heading::after {
    display: none;
  }

  .articles__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .article {
    display: flex;
    flex-direction: column;
  }

  .article__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 0;
  }

  .article__text {
    font-size: 18px;
  }

  .article__details {
    display: flex;
    flex-direction: column;
  }

  .article__btn {
    margin: 30px 0;
    font-size: 15px;
    white-space: nowrap;
  }

  .articles__other {
    align-self: auto;
  }

  /* Authors */

  .authors__heading h2 {
    font-size: 48px;
    line-height: 1;
  }

  .authors__heading p {
    color: #525252;
    font-weight: 600;
    font-size: 20px;
  }

  .authors__boxes {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .author__box {
    width: 100%;
  }

  /* Community */

  .community__heading h2 {
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 1;
  }

  .community__heading p {
    color: #525252;
    font-weight: 600;
    font-size: 20px;
  }

  .community__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .join__community h3 {
    font-size: 27px;
    line-height: 1;
  }

  .join__benefit__icon {
    height: 40px;
    width: 40px;
    padding: 16px;
    color: white;
  }

  .join__benefit__icon svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }

  .join__benefit span {
    font-weight: 600;
    font-size: 16px;
  }

  .join__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    padding: 18px 36px;
    margin: 0;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .testimonials h4 {
    font-size: 24px;
  }

  .testimonial__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Footer */

  .footer__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
}
